@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gradient-to-tr from-background via-background/50 to-background text-foreground;
  }
}

@layer components {
  .section {
    @apply rounded-md border border-input p-2;
  }
  .label {
    @apply mono mb-2 w-full text-left text-xs leading-tight text-muted-foreground md:mb-4 2xl:mb-8 2xl:text-sm;
  }
  .logo {
    @apply font-display text-5xl font-bold uppercase leading-tight tracking-tight xl:text-6xl;
  }
  .title {
    @apply text-3xl font-bold leading-tight tracking-tight 2xl:text-4xl;
  }
  .h1 {
    @apply text-2xl font-bold leading-tight tracking-tight 2xl:text-3xl;
  }
  .h2 {
    @apply text-xl font-medium leading-tight tracking-tight 2xl:text-2xl;
  }
  .h3 {
    @apply font-medium leading-tight tracking-tight 2xl:text-lg;
  }
  .p {
    @apply font-sans text-sm normal-case leading-tight tracking-tight 2xl:text-base 2xl:font-medium;
  }
  .p-accent {
    @apply text-xs leading-tight tracking-tight text-muted-foreground;
  }
  .mono {
    @apply font-mono uppercase;
  }
  .sidebar {
    @apply mono hidden h-full shrink-0 flex-col justify-end gap-2 md:w-[200px] lg:w-[225px] xl:w-[250px] 2xl:w-[300px] hr:flex;
  }
  .topbar {
    @apply mono flex h-[98px] w-full shrink-0 gap-2 md:h-[110px] hr:hidden;
  }
  .profile-layout {
    @apply flex flex-1 flex-col-reverse justify-start gap-2 md:flex-row;
  }
  .profile-grid {
    @apply grid grid-flow-row gap-2 md:grid-cols-2 xl:grid-cols-3;
  }
  .search-remaster-grid {
    @apply grid grid-flow-row gap-2 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
  }
  .search-user-grid {
    @apply grid grid-flow-row gap-2 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
  }
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::selection {
  background-color: hsl(var(--foreground));
  color: hsl(var(--background));
}

*::-webkit-scrollbar {
  display: none;
}

.bg-radial-gradient {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  background-color: hsl(var(--background));
  background: -webkit-radial-gradient(
    circle,
    transparent 50%,
    hsl(var(--background)) 100%
  );
  background: radial-gradient(
    circle,
    transparent 50%,
    hsl(var(--background)) 100%
  );
}

.grain {
  background-image: url("../../public/media/noise.png");
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

.anim-grain {
  background-image: url("../../public/media/noise.png");
  height: 300%;
  width: 300%;
  position: absolute;
  pointer-events: none;
  animation: grain 4s steps(5) infinite;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(-15%, -20%);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }
  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}
